/* Style global */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

button {
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #f8f8f8;
  font-weight: bold;
}

td button {
  padding: 5px 10px;
  font-size: 12px;
  margin-right: 5px;
}

td button:first-child {
  background-color: #ffc107;
}

td button:first-child:hover {
  background-color: #e0a800;
}

td button:last-child {
  background-color: #dc3545;
}

td button:last-child:hover {
  background-color: #c82333;
}

h4 {
  text-align: right;
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
}
